log
config/.secrets.*

.vscode
__pycache__
config/__pycache__/*
lib/contact_id/__pycache__/*
lib/Crypto/__pycache__/*
lib/Crypto/Cipher/__pycache__/*
lib/Crypto/Hash/__pycache__/*
lib/Crypto/PublicKey/__pycache__/*
lib/Crypto/Protocol/__pycache__/*
lib/Crypto/Random/__pycache__/*
lib/Crypto/Random/Fortuna/__pycache__/*
lib/Crypto/Random/OSRNG/__pycache__/*
lib/Crypto/SelfTest/__pycache__/*
lib/Crypto/SelfTest/Cipher/__pycache__/*
lib/Crypto/SelfTest/Hash/__pycache__/*
lib/Crypto/SelfTest/Protocol/__pycache__/*
lib/Crypto/SelfTest/PublicKey/__pycache__/*
lib/Crypto/SelfTest/Random/__pycache__/*
lib/Crypto/SelfTest/Random/Fortuna/__pycache__/*
lib/Crypto/SelfTest/Random/OSRNG/__pycache__/*
lib/Crypto/SelfTest/Signature/__pycache__/*
lib/Crypto/SelfTest/Util/__pycache__/*
lib/Crypto/Signature/__pycache__/*
lib/Crypto/Util/__pycache__/*
lib/contact_id/__pycache__/*
lib/dc09_spt/__pycache__/*
lib/dc09_spt/comm/__pycache__/*
lib/dc09_spt/msg/__pycache__/*
